/* -------------------- IMPORTED FONTS -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/*-------------------- CSS RESET --------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*-------------------- ROOT VARIABLES --------------------*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* -------------------- ROOT VARIABLES  -------------------- */
:root {
    font-family: "Habibi", serif;
    font-size: 1.25em;
    --green:#06A816;
    --orange:#E75D02;
    --black:#000000;
    --white:#ffffff;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
@media (min-width: 428px) {
    header {
        background-color: var(--green);
        color: var(--white);
        padding: 0.25rem;
    }

    h1 {
        font-size: 2rem;
        text-shadow: 2px 2px 2px var(--black);
    }

    header p {
        font-style: italic;
        padding: 0.75rem 0;
    }

    #hidden  {
        visibility: hidden;
    }

    nav ul {
        list-style-type: none;
        padding: 2rem 0;
        gap: 1rem;
        display: grid;
        justify-content: center;
    }

    nav li {
        background-color: var(--orange);
        text-align: center;
        width: 250px;
        padding: 5px;
        border-radius: 4px;
    }

    nav a {
        text-decoration: none;
        color: var(--white);
    }

    h1, h2 {
        font-family: "Irish Grover";
    }   

    h2 {
        font-size: 1.5rem;
        padding: 0.5rem 0;
    }

    
    .for-sale {
        text-align: center;
    }

    .container {
        width: 100%;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-around;
        align-content: space-around;
        gap: 20px;
    }


    figcaption {
        width: 10%;
        position: relative;
        bottom: 175px;
        left: 45%;
        color: var(--white);
        background-color: rgba(0,0,0,0.75);
    }

    footer {
        background-color: var(--green);
        color: var(--white);
        padding: 10px;
        margin: 30px 0;
        text-align: center;
    }

    footer section {
        padding: 10px;
    }

    footer dt {
        padding: 4px;
    }

    footer dd {
        padding: 4px;
    }

    small {
        position: relative;
        top: 33px;
        color: var(--green);
    }
}

/* MEDIA QUERY (medium) */
@media (min-width: 768px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    header p {
        text-align: right;
    }

    nav ul {
        list-style-type: none;
        gap: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        justify-items: center;
    }

    nav li {
        width: 250px;
        border-radius: 4px;
    }

    .container {
        width: 100%;
        text-align: center;
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-content: space-around;
        align-content: space-around;
        gap: 20px;
    }  

    footer {
        background-color: var(--green);
        color: var(--white);
        padding: 10px;
        margin: 30px 0;
        text-align: center;
    }
}

/* MEDIA QUERY (large) */
@media (min-width: 992px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }

    .container {
        width: 100%;
        text-align: center;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: space-around;
        align-content: space-around;
        gap: 20px;
    }  
}

/* MEDIA QUERY (xl) */
@media (min-width: 1200px) {
    .container {
        width: 100%;
        text-align: center;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-content: space-around;
        align-content: space-around;
        gap: 20px;
    }  
}